.guess-input {

    padding: 15px;

}

.guess-input button {

    margin-top: 30px;
    background-color: #2B3856;
    color: white;
    border-radius: 14px;
}

button:hover {
    color: lightgreen;
    background-color: #C35817;
    transition-duration: 2s;
}

input[type=number] {
    
    background-color: #E1EAFF;
    text-align: center;
    font-size: 30px;
}