.past-guesses {

    background-color: #46C7C7;
    padding: 20px;
    border-radius: 15px;
}

.past-guesses .past-numbers {

    color: white;
    background-color: blue;
    border-radius: 3px;
    text-decoration: none;
    margin: 0px 3px;

}