.past-guesses {

    background-color: #46C7C7;
    padding: 30px;
}

.past-guesses .past-numbers {

    padding: 7px;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    margin: 0px 5px;

}